table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: lpx solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* odd = impar
even = par */